.inputContainer {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    min-width: 600px; 
}

.imgInput {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.imgInput::placeholder {
    color: transparent;
}

.imgInput:placeholder-shown ~ .inputLabel {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.inputLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.imgInput:focus {
    padding-bottom: 6px;
    font-weight: 600; 
    border-width: 3px;
    border-image: linear-gradient(to right, #501199, #8d38ef);
    border-image-slice: 1;
}

.imgInput:focus ~ .inputLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #8064e6;
    font-weight: 700;
}

.imgInput:required, .imgInput:invalid {
    box-shadow: none;
}
